extends ../../core/views/layouts/default.pug

block content
    // Main content
    main.main
      // Breadcrumb
      ol.breadcrumb
        li.breadcrumb-item Category
      .container-fluid
        .animated.fadeIn
          - if (error) {
          .row
            .col-lg-12
              each err in error
                .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                  button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                  strong Edit Category Failed
                  |  #{err}
          - }
          .row
            .col-lg-12
              .card
                .card-header
                  strong Form
                  |  Edit Category
                .card-block
                  form.form-horizontal(action='/admin/updatepassword', method='post')
                    .form-group.row
                      label.col-md-3.form-control-label(for='password') Password
                      .col-md-9
                        input#text-input.form-control(type='password', name='password', value='', placeholder='type new password')
                    button.btn.btn-sm.btn-primary(type='submit')
                      i.fa.fa-dot-circle-o
                      |  Submit
                    | &nbsp&nbsp
                    a.btn.btn-sm.btn-danger(href='/admin/users')
                      i.fa.fa-ban
                      |  Cancel