doctype html
//
  * CoreUI - Open Source Bootstrap Admin Template
  * @version v1.0.0-alpha.6
  * @link http://coreui.io
  * Copyright (c) 2017 creativeLabs Łukasz Holeczek
  * @license MIT
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='CoreUI Bootstrap 4 Admin Template')
    meta(name='author', content='Lukasz Holeczek')
    meta(name='keyword', content='CoreUI Bootstrap 4 Admin Template')
    // <link rel="shortcut icon" href="assets/ico/favicon.png">
    title SweatCircle Admin Login
    // Icons
    link(href='/static/css/font-awesome.min.css', rel='stylesheet')
    link(href='/static/css/simple-line-icons.css', rel='stylesheet')
    // Main styles for this application
    link(href='/static/css/style.css', rel='stylesheet')
    block head
  body.app.flex-row.align-items-center
    .container
      .row.justify-content-center
        // Bootstrap and necessary plugins
        block content
    block script
    script(src='/static/components/jquery/dist/jquery.min.js')
    script(src='/static/components/tether/dist/js/tether.min.js')
    script(src='/static/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/static/components/pace/pace.min.js')
